framework: net5.0
source https://api.nuget.org/v3/index.json

// PRODUCTION STUFF
nuget System.Reflection.Metadata 5.0.0

nuget Microsoft.AspNetCore.Mvc.NewtonsoftJson 5.0.2

nuget Newtonsoft.Json 12.0.3
nuget FluentValidation.AspNetCore 9.5.0

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 5.0.2

// TEST STUFF
nuget Microsoft.AspNetCore.TestHost 5.0.2
nuget Microsoft.NET.Test.Sdk 16.8.3
nuget xunit 2.4.1
nuget xunit.runner.visualstudio 2.4.3

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
