framework: netcoreapp31
source https://api.nuget.org/v3/index.json
source https://dotnet.myget.org/F/aspnetcore-master/api/v3/index.json

// PRODUCTION STUFF
nuget System.Reflection.Metadata 1.8.0

nuget Microsoft.Extensions.StackTrace.Sources 2.0.0
nuget Microsoft.Extensions.TypeNameHelper.Sources 2.0.0

nuget Microsoft.AspNetCore.Mvc.NewtonsoftJson 3.1.3

nuget Newtonsoft.Json 12.0.3
nuget FluentValidation.AspNetCore 8.6.2

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 4.0.6

// TEST STUFF
nuget Microsoft.AspNetCore.TestHost 3.1.3
nuget Microsoft.NET.Test.Sdk 16.6.1
nuget xunit 2.4.1
nuget xunit.runner.visualstudio 2.4.1

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
